<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="description" content="Joseph Lteif Software Engineering Student"/>
    <meta name="keywords" content="Joseph, Lteif, Software, Engineering, Student"/>
    <meta name="author" content="Joseph Lteif"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- End Meta -->

    <!-- Link  -->
    <link rel="stylesheet" href="../Styles/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <!-- End Link  -->

    <title>Joseph Lteif</title>

  </head>
  <body>

    <!-- Sidebar -->
    <section id="sidebar">
      <section>
        <img id="ProfileImage" class="rounded-circle" src="../Assets/Image1.jpeg" alt="" />
      </section>

      <hr id="hr" class="solid"/>

      <section id="NavigatinSection">
        <div class="separator-line-horrizontal-full"></div>
        <br />
        <a href="#Home" id="Homebtn">Home</a>
        <a href="#About" id="Aboutbtn">About</a>
        <a href="#Experience" id="Experiencebtn">Experience</a>
        <a href="#Contact" id="Contactbtn">Contact</a>
      </section>

      <hr id="hr" class="solid"/>

      <section id="ContactSection">
        <br />
        <div
          class="separator-line-horrizontal-full bg-extra-light-gray margin-15px-bottom"
        ></div>
        <h6><b>Phone Number: </b><br>(+961) 71036129</h6>
        <h6><b>Email: </b><a href="mailto: JosephLteif@outlook.com"  target="_blank"><br>JosephLteif@outlook.com</a></h6>
        <h6><b>Github: </b><a href="https://github.com/JosephLteif"  target="_blank"><br>https://github.com/JosephLteif</a></h6>
        <h6><b>linkedin: </b><a href="www.linkedin.com/in/JosephLteif"  target="_blank"><br>www.linkedin.com/in/JosephLteif</a></h6>
      </section>
    </section>
    <!-- End Sidebar  -->

    <!-- Main  -->
    <section id="side">
      <span id="Menubtn">X</span>
      <div id="Home" class="row">
        <div id="PersonalInfo" class="col">
          <h6>Hello, I'm</h6>
          <h1 class="ml9">
            <span class="text-wrapper">
              <span class="letters">Joseph Lteif</span>
            </span>
          </h1>
          <h6>3rd year Student, Software Engineering</h6>
          <p>
            I am a Software Engineering student, I'm very curious and
            passionate. I have worked on desktop apps (java), Mobile apps
            (Flutter), working on building an autonomous car for the NXP cup and
            much more.
          </p>
        </div>

        <div class="col">
          <img src="../Assets/WhatsApp Image 2020-04-23 at 9.33.52 PM.jpeg" alt="" />
        </div>
      </div>

      <div id="About">
        <h2>About Section</h2>
      </div>

      <div id="Experience">

      </div>

      <div id="Contact">
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="joseph-lteif-860a181a8"><a class="LI-simple-link" href='https://lb.linkedin.com/in/joseph-lteif-860a181a8?trk=profile-badge'>Joseph Lteif</a></div>    </section>
      </div>
    <!-- End Main  -->

    <!-- Scripts -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../Scripts/index.js"></script>
    <!-- End Scripts -->
  </body>
</html>
