#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* Allows the main content to grow and take available space */
  max-width: 1200px;
  /* Max width for content */
  margin: 0 auto;
  /* Center the content */
  width: 100%;
  /* Ensure it takes full width within its max-width */
  box-sizing: border-box;
  /* Include padding in width */
}

section {
  padding: 1rem 0;
  margin-bottom: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.experience-intro,
.skills-intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem auto;
  color: var(--text-color);
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin-top: 0;
}

p {
  color: var(--text-color);
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  section {
    padding: 1rem 0;
  }
}